html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

body {
    font-family: "Titillium Web", sans-serif;
    display: flex;
    flex-direction: column;
    margin:0;
}

:root {
    --bar-width: 30px;
    --bar-height: 5px; /* Reduced height */
    --hamburger-gap: 4px; /* Reduced gap */
    --hamburger-margin: 8px; /* Adjust spacing as needed */
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --animation-timing: 200ms ease-in-out;
    --foreground: #333;
    --background: #edf3ec;
}

.nav-bar {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: normal;
    background-color:var(--background);
    z-index: 100;
}

.nav-bar h1 {
    font-size: 24px;
    margin-left: 5%;
    font-weight: bold;
    margin-top: .85em;
    margin-bottom:.7em;
}

.nav-bar ul {
    display:flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 5%;
    list-style: none;
}

.nav-bar ul li {
    margin-left:15px;
}

.nav-bar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 30px;
    transition: background-color 0.2s, color 0.2s;
}

.nav-bar ul li a:hover {
    background-color:#448361;
    color:white;
}

.fas.fa-shopping-cart {
    font-size: 18px;
}

#cart-count {
    margin-left: 8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 10px;
    font-size: 14px;
    vertical-align: top;
}

.hide {
    display: inline-block;
}

.show{
    display:none;
}

.title{
    font-size: 25px;
    margin: 0px;
    padding-top: 50px;
    text-align: center;
}

p{
    text-align: center;
}
.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: inline-flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    cursor: pointer;
    margin: var(--hamburger-margin);
    align-items: center;
    z-index: 10;
    position: relative; 
}

.hamburger-menu:has(input:checked) {
    --foreground: #fff;
    --background: #333;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing),
        width var(--animation-timing),
        rotate var(--animation-timing),
        translate var(--animation-timing),
        background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    transition: translate var(--animation-timing);
    translate: 100%;
    padding: 50px 0px;
    background-color: rgb(205, 215, 208);
    max-width: 12rem; 
    width: 12rem;
    min-height: 100vh;
    z-index: 1;  
}

#menu-toggle:checked ~ .sidebar {
    translate: 0;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.sidebar ul li { 
    padding: 5px 0px; 
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

#carousel{
    background-color: rgb(241, 241, 241);
    width: auto;
}

#carousel img{
    object-fit: contain;
    height:20vw;
}

#For-you-text{
    margin-top:10vw;
    margin-left:15vw;
    font-size: 36px;
}

#For-you img{
    /* height:30vh; */
    width: 100%;
    object-fit: contain;
}
#recommend-container{
    display:flex;
    justify-content: center;
}

.card{
    margin-left: 1vw;
}
.card img{
    border-radius:5px ;
    top:100%;
    object-fit: fill;
}

.carousel-control-next, .carousel-control-prev{
    filter: invert(100%);
}

.add-to-cart{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 10px;
    padding: 8px 15px;
    background-color:#448361;;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 10px;
}

.add-to-cart:hover{
    background-color:rgb(84, 179, 127);
}

.add-to-cart:active{
    background-color: #3e8e41;
    transform: scale(1.05);

}
.card-price{
    font-size:15px;
    margin:0;
}
.card-name{
    font-weight: bold;
    margin:0;
    font-size:20px;
}
.card-body{
    padding:0px;
}
.ais-RelatedProducts-title{
    display:none;
}

@media only screen and (max-width: 675px) {
    .hide {
        display: none;
    }
    .show {
        display: block;
    }

    .nav-bar ul {
        justify-content: flex-end;
    }
    .card-price{
        font-size: 10px;
    }
    .card-name{
        font-size:50%;
    }
    .add-to-cart{
        padding:3% 8%;
    }

    #For-you-text{
        margin-top:5vh;
        margin-left:5vw;
        font-size: 8vw;
    }
    
    #For-you img{
        width: 100%;
        object-fit: contain;
    }
    #recommend-container{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .card{
        margin-left: 1vw;
    }
    .card img{
        border-radius:5px ;
        top:100%;
        object-fit: fill;
    }
    
    .carousel-control-next, .carousel-control-prev{
        filter: invert(100%);
    }
    
    .add-to-cart{
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        font-size: 20px;
        padding: 8px 15px;
        background-color:#448361;;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    .add-to-cart:hover{
        background-color:rgb(84, 179, 127);
    }
    
    .add-to-cart:active{
        background-color: #3e8e41;
        transform: scale(1.05);
    
    }
    .card-price{
        font-size:20px;
        margin:0;
    }
    .card-name{
        font-weight: bold;
        margin:0;
        font-size:24px;
    }
    .card-body{
        padding:0px;
    }
    .ais-RelatedProducts-title{
        display:none;
    }
}

